html {
  font: 14px "OpenSansRegular", sans-serif; }
  @media (min-width: 768px) and (max-width: 1200px) {
    html {
      font-size: 12px; } }
  @media (min-width: 450px) and (max-width: 767px) {
    html {
      font-size: 10px; } }

body.modal-open {
  padding-right: 0 !important;
  overflow: auto; }

a:focus {
  outline: none; }

/* ----------------HEADER ------------------*/
header {
  z-index: 999;
  display: inline-block;
  width: 100%;
  position: fixed; }
  header .navbar {
    border: none;
    z-index: 999;
    box-shadow: 0 3px 18px #444;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    min-height: 72px; }
    @media (max-width: 991px) {
      header .navbar {
        min-height: 52px; } }
    @media (max-width: 991px) {
      header .navbar .navbar-header .navbar-toggle {
        display: inline; } }
    header .navbar .navbar-header a.navbar-brand {
      padding: 0; }
      header .navbar .navbar-header a.navbar-brand:focus {
        outline: none; }
      header .navbar .navbar-header a.navbar-brand img {
        max-height: 64px;
        padding-top: 6px;
        padding-left: 14px; }
        @media (max-width: 991px) {
          header .navbar .navbar-header a.navbar-brand img {
            max-height: 46px; } }
    header .navbar .navbar-right li a {
      color: #444;
      padding-top: 24px;
      text-transform: uppercase; }
      header .navbar .navbar-right li a:hover {
        color: #29bff2; }
    header .navbar .navbar-right li .active {
      color: #29bff2; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
/* ----------------SECTION 1 (MAIN) ------------------*/
.section-1-main.bg-cover {
  background-image: url("../bg.jpg");
  position: relative;
  z-index: 10;
  background-size: cover;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4); }
  .section-1-main.bg-cover #video-bg {
    position: absolute;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }
    .section-1-main.bg-cover #video-bg .video-bg__video {
      top: 0;
      left: 0;
      background: url("../bg.jpg") no-repeat center;
      background-size: cover;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden; }
    .section-1-main.bg-cover #video-bg:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7); }
  .section-1-main.bg-cover .content-main {
    position: relative;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 75%;
    margin: 0 auto; }
    .section-1-main.bg-cover .content-main .row {
      height: 30%; }
    .section-1-main.bg-cover .content-main p {
      padding-top: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font: 2.8rem "OpenSansRegular";
      position: absolute;
      width: 100%;
      left: 0%;
      top: 45%; }
      @media (min-width: 627px) and (max-width: 1600px) {
        .section-1-main.bg-cover .content-main p {
          font-size: 2.3rem;
          top: 42%; } }
      @media (max-width: 626px) {
        .section-1-main.bg-cover .content-main p {
          font-size: 2rem;
          top: 35%; } }
    .section-1-main.bg-cover .content-main h1 {
      text-transform: uppercase;
      font: 4rem "OpenSansSemiBold";
      color: white;
      padding: 1%;
      background: rgba(21, 189, 244, 0.6);
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 14px;
      text-shadow: 0.1px 1px 1px #000;
      margin-top: 0px;
      position: absolute;
      width: 100%;
      left: 0%;
      top: 32%; }
      @media (min-width: 676px) and (max-width: 1600px) {
        .section-1-main.bg-cover .content-main h1 {
          font-size: 3rem; } }
      @media (max-width: 626px) {
        .section-1-main.bg-cover .content-main h1 {
          top: 26%;
          font-size: 2.5rem; } }

.rowButtons {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 60%; }
  .rowButtons .ask {
    text-align: right;
    padding-right: 40px; }
    @media (max-width: 767px) {
      .rowButtons .ask {
        text-align: center;
        padding: 0; } }
  .rowButtons .test {
    text-align: left;
    padding-left: 40px; }
    @media (max-width: 767px) {
      .rowButtons .test {
        text-align: center;
        padding: 2% 0; } }
  .rowButtons .ask a, .rowButtons .test a {
    border: 2px solid #000;
    color: #fff;
    border-radius: 0;
    background: rgba(21, 189, 244, 0.6);
    padding: 16px 40px;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    font-size: 1.3rem;
    min-width: 193px; }
  .rowButtons .ask a:hover, .rowButtons .test a:hover {
    background: #15bdf4;
    box-shadow: 0 0 20px white; }

/* ----------------SECTION 2 (DESCRIPTION) ------------------*/
.section-2-description {
  position: relative;
  background: #fff;
  padding-top: 4%;
  padding-bottom: 5%;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4);
  z-index: 9; }
  .section-2-description h2 {
    color: #444;
    text-transform: uppercase;
    text-align: center;
    font: 2.5rem "OpenSansSemiBold";
    margin-bottom: 8%; }
  .section-2-description .description-text .rowWork {
    clear: both; }
  .section-2-description .description-text .rowSweep {
    display: inline-block; }
  .section-2-description .description-text p {
    font: 1.3rem "OpenSansRegular";
    line-height: 1.8em; }
  .section-2-description .description-text p.description-head {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #29bff2; }
  .section-2-description .description-text .text-margin-top {
    margin-top: 5%; }

/* ----------------SECTION 3 (ADVANTAGES) ------------------*/
.section-3-advantages {
  background: url("../img/Vacum-cleaner-in-the-house.jpg") fixed;
  background-size: contain;
  padding: 4% 0 3% 0;
  position: relative;
  box-shadow: 0 8px 23px rgba(255, 255, 255, 0.4);
  z-index: 8; }
  .section-3-advantages .advantages h2 {
    color: #444;
    text-transform: uppercase;
    font: 2.5rem "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }
  .section-3-advantages .advantages ul {
    display: inline-block;
    width: 100%; }
    .section-3-advantages .advantages ul li {
      list-style: none;
      float: left;
      text-align: center; }
      .section-3-advantages .advantages ul li p {
        font: 1.5rem "OpenSansRegular";
        line-height: 1.8em;
        margin-top: 15px;
        padding-bottom: 30px; }
    .section-3-advantages .advantages ul img {
      width: 30%; }
  .section-3-advantages .advantages video {
    border: 4px solid #fff;
    box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4); }
  .section-3-advantages .advantages .Buttons-advantages {
    position: relative;
    display: inline-block;
    margin-top: 6%; }
    .section-3-advantages .advantages .Buttons-advantages .ask a, .section-3-advantages .advantages .Buttons-advantages .test a {
      background: #000;
      box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4); }
      .section-3-advantages .advantages .Buttons-advantages .ask a:hover, .section-3-advantages .advantages .Buttons-advantages .test a:hover {
        background: #29bff2; }

/* ----------------SECTION 4 (MANUFACTURER) ------------------*/
.section-4-manufacturer {
  position: relative;
  z-index: 7;
  background: #000;
  padding-top: 4%;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4); }
  .section-4-manufacturer .manufacturer h2 {
    color: #fff;
    text-transform: uppercase;
    font: 2.5rem "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }

/* ----------------SECTION 5 (PRICE) ------------------*/
.section-5-price {
  position: relative;
  z-index: 6;
  background: #fff;
  padding: 4% 0 6% 0;
  box-shadow: 0 5px 12px rgba(255, 255, 255, 0.4); }
  .section-5-price h2 {
    color: #444;
    text-transform: uppercase;
    font: 2.5rem "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }
  .section-5-price #pricing-table {
    text-align: center;
    margin-top: 3%; }
    .section-5-price #pricing-table .plan {
      font: 1rem "OpenSansRegular";
      text-shadow: 0 1px rgba(255, 255, 255, 0.8);
      background: #fff;
      border: 1px solid #ddd;
      color: #333;
      padding: 20px;
      float: left;
      position: relative;
      -webkit-transition: 0.2s all ease;
              transition: 0.2s all ease; }
      .section-5-price #pricing-table .plan:hover {
        border: 2px solid #29bff2;
        -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
                transform: scale(1.05); }
      .section-5-price #pricing-table .plan h3 {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        background-color: #eee; }
        .section-5-price #pricing-table .plan h3 span {
          display: block;
          font: bold 1.3rem/6.5rem Georgia, Serif;
          color: #29bff2;
          background: #fff;
          border: 5px solid #fff;
          height: 100px;
          width: 100px;
          margin: 10px auto -65px;
          border-radius: 100%;
          box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset; }
      .section-5-price #pricing-table .plan a.signup {
        position: relative;
        padding: 8px 20px;
        margin: 20px 0 0 0;
        color: #fff;
        font: bold 1.2rem "OpenSansRegular";
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(41, 191, 242, 0.9);
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 2px 0 rgba(0, 0, 0, 0.7); }
        .section-5-price #pricing-table .plan a.signup:hover {
          background-color: #29bff2; }
        .section-5-price #pricing-table .plan a.signup:active, .section-5-price #pricing-table .plan a.signup:focus {
          background: #29bff2;
          top: 2px;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; }
      .section-5-price #pricing-table .plan ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none; }
        .section-5-price #pricing-table .plan ul li {
          border-top: 1px solid #ddd;
          padding: 10px 0; }
      .section-5-price #pricing-table .plan:nth-child(1) {
        border-radius: 5px 0 0 5px; }
        .section-5-price #pricing-table .plan:nth-child(1) h3 {
          border-radius: 5px 0 0 0; }
      .section-5-price #pricing-table .plan:nth-child(3) {
        border-radius: 0 5px 5px 0; }
        .section-5-price #pricing-table .plan:nth-child(3) h3 {
          border-radius: 0 5px 0 0; }
    .section-5-price #pricing-table #most-popular {
      z-index: 2;
      top: -13px;
      border: 2px solid #29bff2;
      padding: 30px 20px;
      border-radius: 7px;
      box-shadow: 20px 0 10px -10px rgba(0, 0, 0, 0.15), -20px 0 10px -10px rgba(0, 0, 0, 0.15); }
      .section-5-price #pricing-table #most-popular h3 {
        background-color: #29bff2;
        margin-top: -30px;
        padding-top: 30px;
        border-radius: 5px 5px 0 0; }
  .section-5-price .clear:before, .section-5-price .clear:after {
    content: "";
    display: table; }
  .section-5-price .clear:after {
    clear: both; }
  .section-5-price .clear {
    zoom: 1; }

/* ----------------SECTION 6 (TEST) ------------------*/
.section-6-test {
  background: url("../img/test.jpg") fixed;
  background-size: cover;
  padding: 4% 0 6%;
  position: relative;
  z-index: 5;
  box-shadow: 0 10px 23px rgba(255, 255, 255, 0.4); }
  .section-6-test .test h2 {
    color: #29bff2;
    text-transform: uppercase;
    font: 2.5rem "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }
  .section-6-test .test .contact-form {
    background: url("../img/Vacuum-wooden-floor.jpg");
    border-radius: 8px; }
    @media (max-width: 991px) {
      .section-6-test .test .contact-form {
        padding-bottom: 1px; } }
  .section-6-test .test .text-test {
    padding-left: 8%; }
    .section-6-test .test .text-test p {
      color: #fff;
      font: 2rem "OpenSansRegular";
      line-height: 4.5rem; }
      .section-6-test .test .text-test p span {
        color: #29bff2; }

form p {
  font: 2rem OpenSansRegular;
  color: #000;
  text-align: center;
  padding-top: 2%; }
form input {
  width: 90% !important;
  margin: 6% auto 0 !important;
  height: 46px !important;
  font: 1.2rem "OpenSansLight" !important; }
form button {
  display: block !important;
  margin: 9% auto 10% !important;
  background: rgba(21, 189, 244, 0.6) !important;
  padding: 14px 62px !important;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
  border-radius: 0 !important;
  text-transform: uppercase !important;
  color: #fff !important;
  font: 1.2rem "OpenSansBold" !important;
  box-shadow: 0 0px 8px #fff !important;
  -webkit-transition: 0.4s all ease !important;
          transition: 0.4s all ease !important; }
  form button:hover, form button:active {
    background: #29bff2 !important;
    box-shadow: 0 0 20px white !important; }

/* ----------------SECTION 7 (CONTACTS) ------------------*/
.section-7-contacts {
  background: #29bff2;
  padding: 4% 0 3%; }
  .section-7-contacts .contacts h2 {
    color: #444;
    text-transform: uppercase;
    font: 2.5rem "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }
  .section-7-contacts .contacts .contact-item p.item-value {
    color: #444;
    font: 1.5rem "OpenSansSemiBold"; }
    .section-7-contacts .contacts .contact-item p.item-value i {
      margin-right: 15px;
      border: 3px solid #444;
      padding: 15px 17px;
      border-radius: 50%; }
  .section-7-contacts .contacts .contact-item p.phonw {
    margin-top: 35px; }
  .section-7-contacts .contacts .contact-item p.phone1 {
    padding-left: 82px;
    margin-top: -15px; }
  .section-7-contacts .contacts .contact-item p.phone2 {
    padding-left: 82px; }
  .section-7-contacts .contacts .padding-map {
    padding: 0;
    border: 1px solid #000; }

/* --MODAL-- */
#myModal .modal-dialog {
  margin-top: 9%; }
  #myModal .modal-dialog .modal-content {
    border: 3px solid #29bff2;
    padding-top: 3%; }
    #myModal .modal-dialog .modal-content button.close {
      padding-right: 15px; }
    #myModal .modal-dialog .modal-content h4 {
      color: #444;
      font: 1.5rem "OpenSansRegular";
      text-transform: uppercase;
      padding-left: 15px; }
    #myModal .modal-dialog .modal-content form textarea {
      width: 90%;
      margin: 6% auto 0;
      font: 1.2rem "OpenSansLight"; }

/*# sourceMappingURL=all.css.map */