body {
  font: 14px "OpenSansRegular", sans-serif; }

/* ----------------HEADER ------------------*/
header {
  z-index: 999;
  display: inline-block;
  width: 100%;
  position: fixed; }
  header .navbar {
    border: none;
    z-index: 999;
    box-shadow: 0 3px 18px #444;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    min-height: 72px; }
    @media (max-width: 991px) {
      header .navbar {
        min-height: 52px; } }
    @media (min-width: 990px) {
      header .navbar .navbar-header .navbar-toggle {
        display: none; } }
    header .navbar .navbar-header a.navbar-brand {
      padding: 0; }
      header .navbar .navbar-header a.navbar-brand:focus {
        outline: none; }
      header .navbar .navbar-header a.navbar-brand img {
        max-height: 64px;
        padding-top: 6px;
        padding-left: 14px; }
        @media (max-width: 991px) {
          header .navbar .navbar-header a.navbar-brand img {
            max-height: 46px; } }
    header .navbar .navbar-right li a {
      color: #444;
      padding-top: 24px;
      text-transform: uppercase; }
      header .navbar .navbar-right li a:hover {
        color: #29bff2; }
    header .navbar .navbar-right li .active-link {
      color: #29bff2; }

/* ----------------SECTION 1 (MAIN) ------------------*/
.section-1-main.bg-cover {
  background-image: url("../bg.jpg");
  position: relative;
  z-index: 10;
  background-size: cover;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4); }
  .section-1-main.bg-cover #video-bg {
    position: absolute;
    height: 100%;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden; }
    .section-1-main.bg-cover #video-bg .video-bg__video {
      position: fixed;
      top: 0;
      left: 0;
      background: url("../bg.jpg") no-repeat center;
      background-size: cover;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      overflow: hidden; }
    .section-1-main.bg-cover #video-bg:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5); }
  .section-1-main.bg-cover .content-main {
    position: relative;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 75%;
    margin: 0 auto; }
    .section-1-main.bg-cover .content-main .row {
      height: 30%; }
    .section-1-main.bg-cover .content-main p {
      padding-top: 40px;
      text-transform: uppercase;
      font-weight: 600;
      font: 2.8em "OpenSansRegular";
      position: absolute;
      width: 100%;
      left: 0%;
      top: 45%; }
    .section-1-main.bg-cover .content-main h1 {
      text-transform: uppercase;
      font: 4em "OpenSansSemiBold";
      color: white;
      padding: 22px;
      background: rgba(21, 189, 244, 0.6);
      border: 2px solid rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 14px;
      text-shadow: 0.1px 1px 1px #000;
      margin-top: 0px;
      position: absolute;
      width: 100%;
      left: 0%;
      top: 32%; }
    .section-1-main.bg-cover .content-main .rowButtons {
      position: absolute;
      width: 100%;
      left: 0%;
      top: 60%; }
      .section-1-main.bg-cover .content-main .rowButtons .ask {
        text-align: right;
        padding-right: 40px; }
      .section-1-main.bg-cover .content-main .rowButtons .test {
        text-align: left;
        padding-left: 40px; }
      .section-1-main.bg-cover .content-main .rowButtons .ask a, .section-1-main.bg-cover .content-main .rowButtons .test a {
        border: 2px solid #000;
        color: #fff;
        border-radius: 0;
        background: rgba(21, 189, 244, 0.6);
        padding: 16px 40px;
        text-transform: uppercase;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
        transition: 0.4s all ease;
        -o-transition: 0.4s all ease;
        -moz-transition: 0.4s all ease;
        -webkit-transition: 0.4s all ease; }
      .section-1-main.bg-cover .content-main .rowButtons .ask a:hover, .section-1-main.bg-cover .content-main .rowButtons .test a:hover {
        background: #15bdf4;
        box-shadow: 0 0 20px white; }

/* ----------------SECTION 2 (DESCRIPTION) ------------------*/
.section-2-description {
  position: relative;
  background: #fff;
  padding-top: 4%;
  padding-bottom: 5%;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4);
  z-index: 9; }
  .section-2-description h2 {
    color: #444;
    text-transform: uppercase;
    text-align: center;
    font: 2.5em "OpenSansSemiBold";
    margin-bottom: 8%; }
  .section-2-description .description-text p {
    font: 1.3em "OpenSansRegular";
    line-height: 1.8em; }
  .section-2-description .description-text p.description-head {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #29bff2; }
  .section-2-description .description-text .text-margin-top {
    margin-top: 5%; }

/* ----------------SECTION 3 (ADVANTAGES) ------------------*/
.section-3-advantages {
  background: #29bff2;
  padding: 4% 0 3% 0;
  position: relative;
  box-shadow: 0 8px 23px rgba(255, 255, 255, 0.4);
  z-index: 8; }
  .section-3-advantages .advantages h2 {
    color: #444;
    text-transform: uppercase;
    font: 2.5em "OpenSansSemiBold";
    text-align: center; }
  .section-3-advantages .advantages ul {
    padding: 5% 0 0 0;
    display: inline-block;
    width: 100%; }
    .section-3-advantages .advantages ul li {
      list-style: none;
      float: left;
      text-align: center; }
      .section-3-advantages .advantages ul li p {
        font: 1.5em "OpenSansRegular";
        line-height: 1.8em;
        margin-top: 15px;
        padding-bottom: 30px; }

/* ----------------SECTION 4 (MANUFACTURER) ------------------*/
.section-4-manufacturer {
  position: relative;
  z-index: 7;
  background: #000;
  padding-top: 4%; }
  .section-4-manufacturer .manufacturer h2 {
    color: #fff;
    text-transform: uppercase;
    font: 2.5em "OpenSansSemiBold";
    text-align: center;
    padding-bottom: 5%; }

/*# sourceMappingURL=all.css.map */