@import "core.scss";

body {
  font: 14px $OpSans-Reg, sans-serif;
}
/* ----------------HEADER ------------------*/
header {
  z-index: 999;
  @include inline-block;
  position: fixed;
  .navbar {
    border: none;
    z-index: 999;
    @include box-shadow;
    @include inline-block;
    margin-bottom: 0;
    background: rgba(255,255,255,0.7);
    min-height: 72px;
    @media (max-width: 991px) {
      min-height: 52px;
    }
    .navbar-header {
      .navbar-toggle {
        @media (min-width: 990px) {
          display: none;
        }
      }
      a.navbar-brand {
        padding: 0;
        &:focus {
          outline: none;
        }
        img {
          max-height: 64px;
          padding-top: 6px;
          padding-left: 14px;

          @media (max-width: 991px) {
            max-height: 46px;
          }
        }
      }
    }
    .navbar-right {
      li {
        a {
          color: $dark-grey;
          padding-top: 24px;
          text-transform: uppercase;
          &:hover {
            color: $blue;
          }
        }
       .active-link {
         color: $blue;
       }
      }
    }
  }
}

/* ----------------SECTION 1 (MAIN) ------------------*/
.section-1-main.bg-cover{
    background-image:url("../bg.jpg");
    position:relative;
    z-index:1;
    background-size: cover;
    #video-bg{
      position:absolute;
      height: 100%;
      z-index:-1;
      left:0;
      right:0;
      top:0;
      bottom:0;
      overflow:hidden;
      .video-bg__video{
        position: fixed;
        top:0;
        left:0;
        background:url("../bg.jpg") no-repeat center;
        background-size:cover;
        min-width:100%;
        min-height:100%;
        width:auto;
        height:auto;
        overflow:hidden
      }
      &:after {
        content:"";
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,.5)
      }
    }
    .content-main {
      position: relative;
      color: $white;
      text-align: center;
      height: 100%;
      width: 75%;
      margin: 0 auto;
      .row {
        height: 30%;
      }
      p{
          padding-top:40px;
          text-transform: uppercase;
          font-weight: 600;
          font: 2.8em $OpSans-Reg;
          position: absolute;
          width: 100%;
          left: 0%;
          top: 45%;
      }
      h1 {
        text-transform: uppercase;
        font: 4em $OpSans-SemiBold;
        color: rgb(255, 255, 255);
        padding: 22px;
        background: rgba(21, 189, 244, 0.6);
        border: 2px solid rgba(0,0,0,0.5);
        box-shadow: 0 0 14px ;
        text-shadow: 0.1px 1px 1px $black;
        margin-top: 0px;
        position: absolute;
        width: 100%;
        left: 0%;
        top: 32%;
      }
      .rowButtons {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 60%;
        .ask {
          text-align: right;
          padding-right: 40px;
        }
        .test {
          text-align: left;
          padding-left: 40px;
        }
        .ask a, .test a {
          border: 2px solid $black;
          color: $white;
          border-radius: 0;
          background: rgba(21, 189, 244, 0.6);
          padding: 16px 40px;
          text-transform: uppercase;
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
          transition: 0.4s all ease;
          -o-transition: 0.4s all ease;
          -moz-transition: 0.4s all ease;
          -webkit-transition: 0.4s all ease;
        }
        .ask a:hover, .test a:hover {
          background: rgba(21, 189, 244, 1);
          box-shadow: 0 0 20px rgba(255, 255, 255, 1);

        }
      }
    }
  }


/* ----------------SECTION 2 (DESCRIPTION) ------------------*/
.section-2-description {
  background: $white;
  margin-top: 4%;
  h2 {
    color: $dark-grey;
    text-transform: uppercase;
    text-align: center;
    font: 2.5em $OpSans-SemiBold;
    margin-bottom: 8%;
  }
  .description-text {
    p {
      font: 1.3em $OpSans-Reg;
      line-height: 1.8em;
    }
    p.description-head {
      text-transform: uppercase;
      font-size: 1.5em;
    }
    .text {

    }
    .text-margin-top {
      margin-top: 5%;

    }
  }
}






