@import "core.scss";

html {
  font: 14px $OpSans-Reg, sans-serif;
  @media (min-width: 768px)and (max-width: 1200px) {
    font-size: 12px;
  }
  @media (min-width: 451px) and (max-width: 767px) {
    font-size: 10px;
  }
  @media (max-width: 450px) {
    font-size: 9px;
  }
}

body.modal-open {
  padding-right: 0 !important;
  overflow: auto;
}
a:focus {
  outline: none;
}
/* ----------------HEADER ------------------*/
header {
  z-index: 999;
  @include inline-block;
  position: fixed;
  .navbar {
    border: none;
    z-index: 999;
    @include box-shadow;
    @include inline-block;
    margin-bottom: 0;
    background: rgba(255,255,255,0.7);
    min-height: 72px;
    @media (max-width: 991px) {
      min-height: 52px;
    }
    .navbar-header {
      .navbar-toggle {
        @media (max-width: 991px) {
          display: inline;
        }
      }
      a.navbar-brand {
        padding: 0;
        &:focus {
          outline: none;
        }
        img {
          max-height: 64px;
          padding-top: 6px;
          padding-left: 14px;

          @media (max-width: 991px) {
            max-height: 46px;
          }
        }
      }
    }
   .navbar-right {
      li {
        a {
          color: $dark-grey;
          padding-top: 24px;
          text-transform: uppercase;
          &:hover {
            color: $blue;
          }
        }
       .active{
         color: $blue;
       }
      }
    }
  }
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
}

/* ----------------SECTION 1 (MAIN) ------------------*/
.section-1-main.bg-cover{
    background-image:url("../bg.jpg");
    position:relative;
    z-index:10;
    background-size: cover;
    box-shadow: 0 11px 28px rgba(0,0,0,0.4);
    #video-bg{
      position:absolute;
      height: 100%;
      z-index:-1;
      left:0;
      right:0;
      top:0;
      bottom:0;
      overflow:hidden;
      .video-bg__video{
        top:0;
        left:0;
        background:url("../bg.jpg") no-repeat center;
        background-size:cover;
        min-width:100%;
        min-height:100%;
        width:auto;
        height:auto;
        overflow:hidden
      }
      &:after {
        content:"";
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        background:rgba(0,0,0,.7)
      }
    }
    .content-main {
      position: relative;
      color: $white;
      text-align: center;
      height: 100%;
      width: 75%;
      margin: 0 auto;
      .row {
        height: 30%;
      }
      p{
          padding-top:40px;
          text-transform: uppercase;
          font-weight: 600;
          font: 2.8rem $OpSans-Reg;
          position: absolute;
          width: 100%;
          left: 0%;
          top: 45%;
        @media (min-width: 627px) and (max-width: 1600px) {
          font-size: 2.3rem;
          top: 42%;
        }
        @media (min-width: 481px) and (max-width: 626px) {
          font-size: 2rem;
          top: 35%;
        }
        @media  (max-width: 480px) {
          font-size: 1.5rem;
          top: 30%;
        }
      }
      h1 {
        text-transform: uppercase;
        font: 4rem $OpSans-SemiBold;
        color: rgb(255, 255, 255);
        padding: 1%;
        background: rgba(21, 189, 244, 0.6);
        border: 2px solid rgba(0,0,0,0.5);
        box-shadow: 0 0 14px ;
        text-shadow: 0.1px 1px 1px $black;
        margin-top: 0px;
        position: absolute;
        width: 100%;
        left: 0%;
        top: 32%;
        @media (min-width:626px) and (max-width: 1600px) {
          font-size: 3rem;
        }
        @media (min-width: 451px) and (max-width: 626px) {
         top: 26%;
          font-size: 2.5rem;
      }
        @media (max-width: 450px) {
          top: 26%;
          font-size: 1.9rem;
        }
      }
    }
  .gif {
    position: relative;
    top: 85%;
    width: 100px;
  }
}

.rowButtons {
  position: absolute;
  width: 100%;
  left: 0%;
  top: 60%;
  @media (max-width: 480px) {
    top: 54%;
  }
  .ask {
    text-align: right;
    padding-right: 40px;
    @media (max-width: 767px) {
      text-align: center;
      padding: 0;
    }
  }
  .test {
    text-align: left;
    padding-left: 40px;
    @media (max-width: 767px) {
      text-align: center;
      padding: 3% 0;
    }
  }
  .ask a, .test a {
    border: 2px solid $black;
    color: $white;
    border-radius: 0;
    background: rgba(21, 189, 244, 0.6);
    padding: 16px 40px;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    font-size: 1.3rem;
    min-width: 193px;
  }
  .ask a:hover, .test a:hover {
    background: rgba(21, 189, 244, 1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);

  }
}

/* ----------------SECTION 2 (DESCRIPTION) ------------------*/
.section-2-description {
  position: relative;
  background: $white;
  padding-top: 4%;
  padding-bottom: 5%;
  box-shadow: 0 11px 28px rgba(0,0,0,0.4);
  z-index: 9;
  h2 {
    color: $dark-grey;
    text-transform: uppercase;
    text-align: center;
    font: 2.5rem $OpSans-SemiBold;
    margin-bottom: 8%;
  }
  .description-text {
    .rowWork {
      clear: both;
    }
    .rowSweep {
      display: inline-block;
    }
    p {
      font: 1.3rem $OpSans-Reg;
      line-height: 1.8em;
    }
    p.description-head {
      text-transform: uppercase;
      font-size: 1.5rem;
      color: $blue;
    }

    .text-margin-top {
      margin-top: 5%;
    }
  }
}

/* ----------------SECTION 3 (ADVANTAGES) ------------------*/
.section-3-advantages {
  background: url('../img/Vacum-cleaner-in-the-house.jpg');
  background-size: cover;
  padding: 4% 0 3% 0;
  position: relative;
  box-shadow: 0 8px 23px rgba(255,255,255,0.4);
  z-index: -1;
  .advantages {
    h2 {
     @include h2($dark-grey);
    }
    ul {
      @include inline-block;
      padding: 0;
      li {
        list-style: none;
        float: left;
        text-align: center;
        p {
          font: 1.5rem $OpSans-Reg;
          line-height: 1.8em;
          margin-top: 15px;
          padding-bottom: 30px;
        }
      }
      img {
        width: 30%;
      }
    }
    video {
      border: 4px solid $white;
      box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4);
    }
    .Buttons-advantages {
      position: relative;
      display: inline-block;
      margin-top: 6%;
      .ask a, .test a {
        background: $black;
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.4);
        &:hover {
          background: $blue;
        }
      }
    }
  }
}

/* ----------------SECTION 4 (MANUFACTURER) ------------------*/
.section-4-manufacturer {
  position: relative;
  z-index: 7;
  background: $black;
  padding: 4% 0;
  box-shadow: 0 11px 28px rgba(0, 0, 0, 0.4);
  .manufacturer {
    h2 {
     @include h2($white)
    }
  }
}

/* ----------------SECTION 5 (PRICE) ------------------*/
.section-5-price {
  position: relative;
  z-index: 6;
  background: $white;
  padding: 4% 0 6% 0;
  box-shadow: 0 5px 12px rgba(255, 255, 255, 0.4);
  h2 {
    @include h2($dark-grey);
  }

  #pricing-table {
    text-align: center;
    margin-top: 3%;
    .plan {
      font: 1rem $OpSans-Reg;
      text-shadow: 0 1px rgba(255,255,255,.8);
      background: #fff;
      border: 1px solid #ddd;
      color: #333;
      padding: 20px;
      float: left;
      position: relative;
      transition: 0.2s all ease;
      &:hover {
        border: 2px solid $blue;
        transform: scale(1.05);
      }
      h3 {
        font-size: 20px;
        font-weight: normal;
        padding: 20px;
        margin: -20px -20px 50px -20px;
        background-color: #eee;
        span {
          display: block;
          font: bold 25px/85px Georgia, Serif;
          color: $blue;
          background: #fff;
          border: 5px solid #fff;
          height: 100px;
          width: 100px;
          margin: 10px auto -65px;
          -moz-border-radius: 100px;
          -webkit-border-radius: 100px;
          border-radius: 100%;
          -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
          -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
          box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
        }
      }
      a.signup {
        position: relative;
        padding: 8px 20px;
        margin: 20px 0 0 0;
        color: #fff;
        font: bold 1.2rem $OpSans-Reg;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(41,191,242, 0.9);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        text-shadow: 0 1px 0 rgba(0,0,0,.3);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
        &:hover {
          background-color: $blue;
        }
        &:active, &:focus {
          background: $blue;
          top: 2px;
          -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
          -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
          box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
        }
      }
      ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        li {
          border-top: 1px solid #ddd;
          padding: 10px 0;
        }
      }
      &:nth-child(1) {
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-radius: 5px 0 0 5px;
        border-radius: 5px 0 0 5px;
        h3 {
          -moz-border-radius: 5px 0 0 0;
          -webkit-border-radius: 5px 0 0 0;
          border-radius: 5px 0 0 0;
        }
      }
      &:nth-child(3) {
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-radius: 0 5px 5px 0;
        border-radius: 0 5px 5px 0;
        h3 {
          -moz-border-radius: 0 5px 0 0;
          -webkit-border-radius: 0 5px 0 0;
          border-radius: 0 5px 0 0;
        }
      }
    }
    #most-popular {
      z-index: 2;
      top: -13px;
      border: 2px solid $blue;
      padding: 30px 20px;
      -moz-border-radius: 7px;
      -webkit-border-radius: 7px;
      border-radius: 7px;
      -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
      h3 {
        background-color: $blue;
        margin-top: -30px;
        padding-top: 30px;
        -moz-border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
      }
    }
  }

  .clear:before, .clear:after {
    content:"";
    display:table
  }

  .clear:after {
    clear:both
  }

  .clear{
    zoom:1
  }
}

/* ----------------SECTION 6 (TEST) ------------------*/
.section-6-test {
  background: url("../img/test.jpg") fixed;
  background-size: cover;
  padding: 4% 0 6%;
  position: relative;
  z-index: 5;
  box-shadow: 0 10px 23px rgba(255, 255, 255, 0.4);
  .test {
    h2 {
      @include h2($blue);
    }
  .contact-form {
    background: url("../img/Vacuum-wooden-floor.jpg");
    border-radius: 8px;
    @media (max-width: 991px) {
      padding-bottom: 1px;
    }
  }

  .text-test {
    padding-left: 8%;
    p {
      color: $white;
      font: 2rem $OpSans-Reg;
      line-height: 4.5rem;
      span {
        color: $blue;
      }
    }
  }
  }
}
form {
  p {
    font: 2rem OpenSansRegular;
    color: $black;
    text-align: center;
    padding-top: 2%;
  }
  input {
    width: 90% !important;
    margin: 6% auto 0 !important;
    height:46px !important;
    font: 1.2rem $OpSans-Light !important;
  }
  button {
    display: block !important;
    margin: 9% auto 10% !important;
    background: rgba(21, 189, 244, 0.6) !important;
    padding: 14px 62px !important;
    border: 1px solid rgba(0,0,0,0.8) !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    color: $white !important;
    font: 1.2rem $OpSans-Bold !important;
    box-shadow: 0 0px 8px #fff !important;
    transition: 0.4s all ease !important;
    &:hover, &:active {
      background: $blue !important;
      box-shadow: 0 0 20px white !important;
    }
  }
}

/* ----------------SECTION 7 (CONTACTS) ------------------*/
.section-7-contacts {
  background: $blue;
  padding: 4% 0 3%;
 .contacts {
   h2 {
     @include h2($dark-grey);
   }
    .contact-item{
       p.item-value {
        color: $dark-grey;
        font: 1.5rem $OpSans-SemiBold;
         i {
           margin-right: 15px;
           border: 3px solid #444;
           padding: 15px 17px;
           border-radius: 50%;
         }
       }
      p.phonw {
        margin-top: 35px;
      }
      p.phone1 {
        padding-left: 82px;
        margin-top: -15px;
      }
      p.phone2 {
        padding-left: 82px;
      }

    }
   .padding-map {
     padding: 0;
     border: 1px solid $black;
   }
 }
}

/* --MODAL-- */
#myModal {
  .modal-dialog{
    margin-top: 9%;
    .modal-content {
      border: 3px solid $blue;
      padding-top: 3%;
      button.close {
        padding-right: 15px ;
      }
      h4 {
        color: $dark-grey;
        font: 1.5rem $OpSans-Reg;
        text-transform: uppercase;
        padding-left: 15px;
      }
      form {
        textarea {
          width: 90%;
          margin: 6% auto 0;
          font: 1.2rem $OpSans-Light;
        }
      }
    }
  }

}





